<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="../static/css/cash.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="page-back">
    <div class="page-home">
        <!-- <div class="login_logo_pos">
            <a href="#">
                <p class="login_menu">HOME</p>
            </a>
            <a href="#">
                <p class="login_menu">ADMIN</p>
            </a>
            <a href="#">
                <p class="login_menu">NOTICE</p>
            </a>
            <a href="#">
                <p class="login_menu">NEWS</p>
            </a>
            <a href="#">
                <p class="login_menu">SUPPORT</p>
            </a>
        </div> -->
    </div>

    <!--<form action="/user" method="post"  >-->
        <!--名字：<input class="login-input" name="username" type="text" />-->
        <!--年龄：<input class="login-input" name="age" type="text" />-->
        <!--邮箱：<input class="login-input" name="Email" type="text" />-->
             <!--<input class="login-input" type="submit" value="提交" />-->
    <!--</form>-->
    <!--<div>-->
        <!--I am {{.name}}-->
    <!--</div>-->
<!--     <div class="login-textarea">
        <form enctype="multipart/form-data" method="post" action="user">
            
            <input type="submit" value="submit">
        </form>
            
    </div> -->
     
    <div class="login-img">
        <img src="../static/img/register.png">
        <div class="login_textarea">
            <form>
                <p class="login-center">
                    <input class="login-input" type="text" name="username" value="username">
                    <input class="login-input" type="text" name="age" value="age">
                    <input class="login-input" type="text" name="email" value="email">
                    <input class="from_sub" type="file" name="image">
                    <input class="from_sub" type="submit" value="submit">
                </p>
            </form>
        </div>
    </div>
    <div >
        <img class="image_size" src="{{.image}}">
    </div>

</div>

</body>
</html>