.page-back{
	width: auto;
	height: 900px;
	background: #1ABC9C;
	z-index: -2;
}

.page-home{
	width:  auto;
	height: 60px;
	background: #2C3E50;
	z-index: 1;
	padding: 0px;
}

.login-img{
	position: absolute;
	margin-left: 400px;
	margin-top: 150px;
}

.login-center{
	text-align: center;

}

.login_menu{	
  float: left;
  color: #1ABC9C;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-left: 80px;	
  margin-top: 20px;
  z-index: 55;
  cursor: #ECF0F1;
}

.login_logo_pos{
	position: absolute;
	margin-left: 320px;
}

.login-textarea{
	float: right;
	margin-left: 20px;
	background: #ECF0F1;
	width: 400px;
	height: 300px;
	border-radius: 6px;
}

.login_text{
	position: absolute;
	float: left;
	color: #ECF0F1;
	font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}


.login-input{
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 22px;
  width: 300px;
  border-radius: 6px;
  box-shadow: none;
  margin-top: 20px;
}

.login-button{
  border: 2px solid #bdc3c7;
  color: #1ABC9C;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  height: 42px;
  width: 330px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.login_forget{
  color: #1ABC9C;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20	px;
  margin-left: 20px;
  margin-top: 40px;
}

.image_size{
    margin-left:25px;
    margin-top:15px;
	width: 150px;
	height: 150px;
}

.form_input{
  margin-left: 130px;
  margin-top: 20px;
}

.form_sub{
	margin-left: 20px;
	margin-top: 20px;
}

.login_textarea{
	float: right;
	margin-left: 20px;
	background: #ECF0F1;
	width: 600px;
	height: 400px;
	border-radius: 6px;

}
